body {
    font-family: 'Josefin Sans', 'Nanum Gothic', sans-serif;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    width: 970.4px;
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 8px 0;
    border-bottom: 3px solid rgb(211, 211, 211);
    color: #5f6368;
    font-weight: normal;
}
h2 {
    display: flex;
    align-items: center;
    width: 970.4px;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}
.board-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_title i {
    padding-left: 16px;
    font-size: 12px;
    color: rgb(66, 133, 244);
}
.info_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding-bottom: 24px;
}
.post_info {
    display: flex;
    width: 970.4px;
    margin: 5px 0 0;
    padding: 0;
}
.post_info > li {
    display: table;
    margin-top: 4px;
    margin-right: 50px;
}
.post_info li:last-child {
    margin-right: 0;
}
.post_info_tit {
    display: table-cell;
    height: 16px;
    padding-right: 20px;
    color: #767676;
    border-right: 1px solid #adacac;
    font-size: 14px;
}
.post_info_text {
    display: table-cell;
    padding-left: 20px;
    font-size: 14px;
}
.content_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_content {
    width: 970.4px;
    padding: 60px 0 60px;
    border-top: 3px solid rgb(66, 133, 244);
    border-bottom: 3px solid rgb(211, 211, 211);
}
.bar_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_bar {
    display: flex;
    flex-direction: row-reverse;
    width: 970.4px;
    padding: 0;
}
.post_bar li a {
    color: #5f6368;
}
.post_bar li a:hover {
    font-weight: bold;
    color: rgb(66, 133, 244);
}
.modify_wrap a {
    margin-right: 16px;
}
.listbtn_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 970.4px;
}
.list_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(66, 133, 244);
    color: white;
    font-weight: bold;
    padding: 9px 23px;
}

@media screen and (max-width: 505px) {
    h1 {
        width: 100%;
        font-size: 24px;
        padding-left: 16px;
    }
    .post_title {
        width: 100%;
        padding-left: 16px;
    }
    h2 {
        font-size: 22px;
    }
    .post_title i {
        font-size: 10px;
    }
    .info_wrap {
        width: 100%;
        padding-left: 16px;
        padding-bottom: 12px;
    }
    .post_info span {
        font-size: 12px;
    }
    .content_wrap {
        width: 100%;
    }
    .post_content {
        padding-left: 16px;
        font-size: 16px;
    }
    .bar_wrap {
        width: 100%;
    }
    .post_bar {
        margin: 8px 0;
    }
    .post_bar li a {
        font-size: 14px;
    }
    .delete_wrap {
        padding-right: 16px;
    }
    .listbtn_wrap {
        width: 100%;
    }
    .list_btn {
        font-size: 14px;
        padding: 6px 19px;
    }
}